# ~/.aliases

alias x="extract"

alias spe="speedtest"
alias vim="nvim"
alias r="ranger"
alias f="bfm"
alias n="nnn"

alias arc="nvim ~/.aliases"
alias brc="nvim ~/.bashrc"
alias rrc="nvim ~/.config/ranger/rc.conf"
alias vrc="nvim ~/.config/nvim/init.vim"
alias crc="nvim ~/.config/compton.conf"
alias prc="nvim ~/.config/polybar/config"
alias src="nvim ~/.config/sxhkd/sxhkdrc"

alias xrc="nvim ~/.Xresources"
alias xr="xrdb ~/.Xresources"

alias con="nvim ~/.config/bspwm/bspwmrc"
alias bsp="~/.config/bspwm/bspwmrc"

alias c="printf '\e[H\e[2J'"
alias nf="clear -x && echo -e \ && neofetch"
alias uf="ufetch"
alias p="sudo pacman"

alias ls="ls --color=auto"
alias la="ls -a"
alias ll="ls -l"
alias lla="ls -la"

alias fastboot="sudo fastboot"
alias fr="fastboot reboot"
alias ff="fastboot flash"
alias ap="adb push"
alias rr="adb reboot recovery"
