[Desktop Entry]
Type=Application
Name=winebrowser
MimeType=application/xml;
Exec=env WINEPREFIX="/home/ringdal/.msoffice" wine start /ProgIDOpen xmlfile %f
NoDisplay=true
StartupNotify=true
Icon=7765_winebrowser.0
