@-moz-document regexp("^(http[s]?|ftp).*://(?!((www.|m.|)(/*[[1]]*/|/*[[2]]*/|/*[[3]]*/|/*[[4]]*/|/*[[5]]*/|/*[[6]]*/|/*[[7]]*/))).*")
{
  html
  {
    filter: /*[[hue]]*/;
  -webkit-filter: /*[[hue]]*/;
    -moz-filter: /*[[hue]]*/;
  -ms-filter: /*[[hue]]*/;
    -o-filter: /*[[hue]]*/;
   background:black;
  }

  img,embed,video,canvas,iframe,
[style*="background-image"],
[style*="background: url("],
[class="EmbedVideo"],
[class="gb_b gb_ib gb_R"], 
[type="application/x-shockwave-flash"],
[id="flashcontent"]
  {
    filter: /*[[hue]]*/ !important;
    -webkit-filter: /*[[hue]]*/!important;
    -moz-filter: /*[[hue]]*/!important;
    -ms-filter: /*[[hue]]*/!important;
    -o-filter: /*[[hue]]*/!important;
  }

  a[style*="background: url("] > img, 
a[style*="background-image"] > img,
[class*="ytp-fullscreen"][aria-label*="YouTube"] video
  {
    -webkit-filter: none !important;
  }
}
