@import "../../.cache/wal/colors.scss";

*,div,pre,textarea,body,input,td,tr,p {
    background-color: $background !important;
    color: $color4 !important;
}
header,h1,h2,h3,h4,h5,h6 {
    background-color: $background !important;
    color: $color4 !important;
}
a {
    color: $color4 !important;
}
a:hover,a:focus {
    color: $color4 !important;
}
a:visited {
    color: $color4 !important;
}
img {
    opacity: 1;
}
img:hover {
    opacity: 1;
}
